
11.oracle-db-test/node_modules/oracledb/src/njsPool.h
11.oracle-db-test/dbconfig.js
11.oracle-db-test/front-end/.babelrc
11.oracle-db-test/front-end/.editorconfig
11.oracle-db-test/front-end/index.html
11.oracle-db-test/front-end/package.json
11.oracle-db-test/front-end/README.md
11.oracle-db-test/front-end/src/App.vue
11.oracle-db-test/front-end/src/assets/logo.png
11.oracle-db-test/front-end/src/main.js
11.oracle-db-test/front-end/webpack.config.js
11.oracle-db-test/node_modules/oracledb/binding.gyp
11.oracle-db-test/node_modules/oracledb/build/Release/oracledb.node
11.oracle-db-test/node_modules/oracledb/CHANGELOG.md
11.oracle-db-test/node_modules/oracledb/index.js
11.oracle-db-test/node_modules/oracledb/lib/connection.js
11.oracle-db-test/node_modules/oracledb/lib/lob.js
11.oracle-db-test/node_modules/oracledb/lib/oracledb.js
11.oracle-db-test/node_modules/oracledb/lib/pool.js
11.oracle-db-test/node_modules/oracledb/lib/querystream.js
11.oracle-db-test/node_modules/oracledb/lib/rel.txt
11.oracle-db-test/node_modules/oracledb/lib/resultset.js
11.oracle-db-test/node_modules/oracledb/lib/util.js
11.oracle-db-test/node_modules/oracledb/LICENSE.md
11.oracle-db-test/node_modules/oracledb/odpi/embed/dpi.c
11.oracle-db-test/node_modules/oracledb/odpi/embed/README.md
11.oracle-db-test/node_modules/oracledb/odpi/include/dpi.h
11.oracle-db-test/node_modules/oracledb/odpi/LICENSE.md
11.oracle-db-test/node_modules/oracledb/odpi/README.md
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiConn.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiContext.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiData.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiDebug.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiDeqOptions.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiEnqOptions.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiEnv.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiError.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiErrorMessages.h
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiGen.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiGlobal.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiHandleList.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiHandlePool.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiImpl.h
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiLob.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiMsgProps.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiObject.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiObjectAttr.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiObjectType.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiOci.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiOracleType.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiPool.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiRowid.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiStmt.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiSubscr.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiUtils.c
11.oracle-db-test/node_modules/oracledb/odpi/src/dpiVar.c
11.oracle-db-test/node_modules/oracledb/package.json
11.oracle-db-test/node_modules/oracledb/package/createpackage.js
11.oracle-db-test/node_modules/oracledb/package/extractpackage.js
11.oracle-db-test/node_modules/oracledb/package/getversion.js
11.oracle-db-test/node_modules/oracledb/package/Makefile
11.oracle-db-test/node_modules/oracledb/package/MAKEPKG.BAT
11.oracle-db-test/node_modules/oracledb/package/oracledbinstall.js
11.oracle-db-test/node_modules/oracledb/package/package.json
11.oracle-db-test/node_modules/oracledb/package/README.md
11.oracle-db-test/node_modules/oracledb/package/util.js
11.oracle-db-test/node_modules/oracledb/README.md
11.oracle-db-test/node_modules/oracledb/src/njsCommon.cpp
11.oracle-db-test/node_modules/oracledb/src/njsCommon.h
11.oracle-db-test/node_modules/oracledb/src/njsConnection.cpp
11.oracle-db-test/node_modules/oracledb/src/njsConnection.h
11.oracle-db-test/node_modules/oracledb/src/njsIntLob.cpp
11.oracle-db-test/node_modules/oracledb/src/njsIntLob.h
11.oracle-db-test/node_modules/oracledb/src/njsMessages.cpp
11.oracle-db-test/node_modules/oracledb/src/njsMessages.h
11.oracle-db-test/node_modules/oracledb/src/njsOracle.cpp
11.oracle-db-test/node_modules/oracledb/src/njsOracle.h
11.oracle-db-test/node_modules/oracledb/src/njsPool.cpp
11.oracle-db-test/node_modules/oracledb/src/njsResultSet.cpp
11.oracle-db-test/node_modules/oracledb/src/njsResultSet.h
11.oracle-db-test/node_modules/oracledb/src/njsSubscription.cpp
11.oracle-db-test/node_modules/oracledb/src/njsSubscription.h
11.oracle-db-test/package-lock.json
11.oracle-db-test/select1.js
